#padding {
    border: 3px dashed black;
    border-right: 3px dotted black; 
    border-left: 3px double black;  
    border-bottom: 3px solid black; 

    padding: 5px 10px 15px 20px ;
    /* padding-right: ;
    padding-left: ;
    padding-bottom: ; */
    text-align: center;
}