* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  main {
    height: 500vh;
    background-color: rgb(100, 100, 100);
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img, .gallery-item > p {
    height: 105px;
    width: 150px;
  }
  
  hr {
    border: 2px solid;
  }
  
  #gallery-header {
    padding-bottom: 6px;
    width: 80%;
    margin: auto;
    text-align: left;
    position: relative;
  }
  
  #gallery-header > h1 {
    margin-left: 0;
  }
  
  #gallery-header > p {
    color: #5e96ff;
    font-weight: 800;
  }
  .gallery-item {
    display: block;
  }

  .gallery-item1{
    display: inline-block;
  }
 
  #item-1{
    position: absolute;
    top: 10px;
    left: 10%;
  }
  #item-2{
    position: fixed;
  }
  #item-5 {
    position: sticky;
    top: 10%;
    z-index: 1;
  }

  #item-6{
    position: relative;
    left: 5%;
  }
  #item-7{
    position: relative;
    top: 10px;
  }