* {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    border: 2px solid grey;
}

#post-list > li {
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
}
li > div {
    text-align: left;
}

#top-img {
    margin-left: 1.5em;
    width: 10em;
    height: 10em;
    border: 12px solid green;
    border-radius: 50%;
}

#outside-wrapper { 
    margin: auto;
    width: 100%;
    background-color: rgb(169, 206, 221);
    text-align: center;
}

.post-wrapper {
    margin: 15px;
    padding: 50px 50px 50px 50px;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.post-img {
    width: 100%;
    border-radius: 5px;
}

